body {
  margin: 0;
  background: #373737;
  font-family: 'Segoe UI', sans-serif;
  color: #000000;
  align-items: center;
  margin-top: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.boxHead {
    position: relative;
    display: flex;
    font-size: xx-large;
    padding-left: 10vw;
    font-weight: bold;
}

.CardContainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.VistaCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(177deg, #1bffc6b6 0%, #74e7009d 45%, #0094F1 100%);
    border-radius: 12px;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.5);
    color: white;
    flex: 1;
    min-width: 200px;
    max-width: 600px;
    padding: 40px;
    width: fit-content;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.VistaMAINimg {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4), 0 0 12px rgba(50, 2, 163, 0.2);
}
.VistaRecipe {
    width: fit-content;
    margin: 0 auto;
}

.VistaButton {
    background: linear-gradient(180deg, #4f4f4fba 10%, #232323 47%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.VistaTaskbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #4f4f4fba 10%, #232323 47%);
    margin-top: 40px;
    margin-bottom: -35px; 
    padding-left: 20px;
    border-radius: 5px;
    max-height: 200px;
    width: 108%;
    
}

.VistaLogo {
    position: relative;
    background: linear-gradient(180deg, #04223E 1%, #10274A 47%, #2BA8E2 100%);
    min-width: 80px;
    min-height: 80px;
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    margin: 5px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.VistaLogoGlass {  
    position: relative;
    background: linear-gradient(180deg, #ffffff1a 20%, #99999929 100%);
    min-width: 70px;
    min-height: 70px;
    border-radius: 50%;
    max-height: 190px;
    max-width: 190px;
    aspect-ratio: 1 / 1;
    
}

.VistaLogo img {
    position: absolute;
    min-width: 40px;
    min-height: 40px;
    max-height: 50px;
    max-width: 50px;
}

.VistaPCicon {
    position: relative;
    background: linear-gradient(180deg, #ffffff1a 20%, #99999929 100%);
    min-width: 100px;
    min-height: 80px;
    border-radius: 5%;
    max-height: 160px;
    max-width: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.VistaPCiconimg {
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    max-height: 60px;
}


.Win11Card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background: linear-gradient(180deg, #0095FF 20%, #0059 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: white;
    flex: 1;
    min-width: 200px;
    max-width: 600px;
    padding: 40px;
    width: fit-content;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Win11MAINimg {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4), 0 0 12px rgba(50, 2, 163, 0.2);
}

.Win11Button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: #232323;
    margin-top: 40px;
    margin-bottom: -35px; 
    border-radius: 5px;
    max-height: 200px;
    width: 112%;
    height: 80px;
}

.Win11Storage {
    width: 80px;
    height: auto;
    border-radius: 8px;
    margin-left: 40px;
}

.WBtext{
    margin-left: 40px;
}

.WBtitle {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.WBsubtitle {
    font-size: 14px;    
    margin: 4px 0 0 0;
    color: #ffffff;
}

.Win11Taskbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #182A58;
    margin-top: 40px;
    margin-bottom: -35px; 
    border-radius: 5px;
    max-height: 200px;
    width: 112%;
    height: 80px;
}

.Win11Logoimg {
    min-width: 40px;
    min-height: 40px;
    max-height: 50px;
    max-width: 50px;
}

.ChosenAppWin11 {
    display: flex;
    flex-direction: column;
    min-height: 80px;
    max-height: 160px;
    width: fit-content;
    align-items: center;
    background-color: #bababa26;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border-radius: 10px;
}

.Win11GearWrapper {
    flex: 1;
    display: flex;
    align-items: center;   
    justify-content: center;
}

.Win11Gearimg{
    width: 50px;
    border-radius: 8px;
    height: auto;

}

.SelectGearWin11 {
    width: 20px;
    height: 10px;
    margin-top: auto;
}

@media (max-width: 1440px) {
 .body {
        font-size: large;

    }
}
@media (max-width: 1080px) {
  .body {
        font-size: medium;

    }
}

@media (max-width: 1024px) {
    .body {
        font-size: medium;
    }
    .VistaMAINimg{
        height: 316px;
    }
    .VistaTaskbar {
        height: 70px;
        width: 473px;
    }
    .VistaLogo {
        min-width: 70px;
        min-height: 70px;

    }
    .VistaLogoGlass {
        min-width: 65px;
        min-height: 65px;
    }

    .VistaLogo img{
        min-width: 30px;
        min-height: 30px;
    }

    .VistaPCicon {
        min-width: 100px;
        min-height: 65px;
    }
    .VistaPCiconimg {
        min-width: 30px;
        min-height: 30px;
    }

    .Win11MAINimg{
        height:280px;
    }
     .Win11Taskbar {
        height: 70px;
        width: 495px;
    }

    .ChosenAppWin11 {
        min-height: 70px;
    }

    .Win11Storage {
        width: 40px;
    }

    .WBtext{
        margin-left: 20px;
    }

    .WBtitle {
        font-size: medium;
    }

    .WBsubtitle {
        font-size: small;
    }
}

@media (max-width: 768px) {
    .CardContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }    
    .body {
        font-size: small;

    }
    .VistaMAINimg{
        height: 316px;
    }
    .VistaTaskbar {
        height: 70px;
        width: 108%;
    }
    .VistaLogo {
        min-width: 70px;
        min-height: 70px;

    }
    .VistaLogoGlass {
        min-width: 65px;
        min-height: 65px;
    }

    .VistaLogo img{
        min-width: 30px;
        min-height: 30px;
    }

    .VistaPCicon {
        min-width: 100px;
        min-height: 65px;
    }
    .VistaPCiconimg {
        min-width: 30px;
        min-height: 30px;
    }

    .Win11MAINimg{
        height:280px;
    }
     .Win11Taskbar {
        height: 70px;
        width: 112%;
    }

    .ChosenAppWin11 {
        min-height: 70px;
    }

    .Win11Storage {
        width: 40px;
    }

    .WBtext{
        margin-left: 20px;
    }

    .WBtitle {
        font-size: medium;
    }

    .WBsubtitle {
        font-size: small;
    }
}